<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test name="src/test/java/failedTest/FailedTest.java">
    <classes>
        <class name="failedTest.FailedTest"/>
        <class name="test.Test1Test"/>
        <class name="test.Test2Test"/>
    </classes>
</test>
</suite>